In [1]:
%matplotlib inline

### os
import os
import sys

### datetimes
from datetime import datetime, timedelta

### scipy
import numpy as np
import pandas as pd
import xarray as xr
import geopandas as gpd
import cartopy.crs as ccrs
import dask
from dask.diagnostics import ProgressBar
from tqdm import tqdm

### plotting
from matplotlib import pyplot as plt
import matplotlib
import seaborn as sns

In [2]:
import pathlib

HOME = pathlib.Path.home()
CWD = pathlib.Path.cwd()

In [3]:
dpath = pathlib.Path('/home/nicolasf/operational/ICU/development/hotspots/code/ICU_Water_Watch/outputs/C3S/admin/tercile/MME')

In [7]:
year = 2021
month = 11

In [8]:
lfiles = list(dpath.glob(f"tercile_probs_forecasts_from_{year}_{month:02d}_*.csv"))

In [10]:
len(lfiles)

73

In [11]:
fname = lfiles[0]

In [12]:
data = pd.read_csv(fname, index_col=[0,1,2,3], header=[0,1])

In [13]:
data.xs('MME', axis=0, level=3, drop_level=False)

                              3          4          5
tercile                       1   2   3  1   2   3  1   2   3
2021-11-01 Vanuatu Tafea MME  3  28  69  6  33  61  8  31  61

In [14]:
data_l = []
for fname in lfiles: 
    data = pd.read_csv(fname, index_col=[0,1,2,3], header=[0,1])
    data = data.xs('MME', axis=0, level=3, drop_level=False)
    data_l.append(data)

In [15]:
data = pd.concat(data_l, axis=0)

In [16]:
data = data.sort_index()

In [17]:
data.head()

                                                      3           4          \
tercile                                               1   2   3   1   2   3
2021-11-01 American Samoa Manua                 MME  39  43  18  48  32  20
                          Swains                MME  52  28  20  56  32  12
                          Tutuila               MME  37  40  23  47  32  21
           Cook Islands   Northern Cook Islands MME  71  16  13  73  14  13
                          Southern Cook Islands MME  16  43  41  15  45  40

                                                      5
tercile                                               1   2   3
2021-11-01 American Samoa Manua                 MME  45  33  22
                          Swains                MME  60  25  15
                          Tutuila               MME  44  33  23
           Cook Islands   Northern Cook Islands MME  72  15  13
                          Southern Cook Islands MME  13  38  49

In [31]:
data.to_csv(f'/home/nicolasf/Desktop/seasonal_ICU_C3S_MME_tercile_forecast_table_{year}_{month:02d}.csv')